<footer>
    <div class="container">
        <div class="row mb-4">
            <div class="col-sm-4">
                <h3>edTech Spark</h3>
                <p class="text-justify">
                    Learn to become a technology expert, get certified, and accelerate your career by building
                    real-projects. Learn Live from Microsoft MVPs & Google GDEs and prepare for interviews to transform
                    your career at no additional cost.
                </p>
            </div>
            <div class="col-sm-4">
                <h3>Company</h3>
                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3>Have a Quetsions?</h3>
                <ul class="list-unstyled">
                    <li><a href="#">+91 - 9999123502</a></li>
                    <li><a href="#">support@scholarhat.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                Copyright © 2024 | All rights reserved | This website is made with <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                  </svg> by <a href="https://scholarhat.com" target="_blank">www.scholarhat.com</a>
            </div>
        </div>
    </div>
</footer>